{% extends 'base.html' %}

{% block title %}Movies::Index{% endblock title %}

{% block container %}
  <div class="container">
    <div class="row">
      {% for movie in movie_list %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="card" style="width: 16rem;">
            <img src="{{ movie.post_url }}" class="card-img-top" alt="exit">
            <div class="card-body">
              <h4 class="card-title"> {{ movie.title }} </h4>
              <button class="btn btn-info btn-sm">9.07</button>
              <hr>
              <p class="card-text"> {{ movie.genre }} </p>
              <p class="card-text"> 개봉일: {{ movie.openingDt }} </p>
              <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=174903" target="__blank__" class="btn btn-success">영화정보 보러가기</a>
              {% comment %} detail page {% endcomment %}
            </div>
          </div>
        </div>      
      {% endfor %}
    
    </div>  
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

{% endblock container %}